.select-language {
  width: 100%;

  &.ant-select {
    .ant-select-selector {
      border-radius: 4px;
      border: none !important;
      background-color: transparent;
      font-size: 14px;
      box-shadow: none !important;

      .ant-select-selection-placeholder {
        color: #fff;
      }

      .ant-select-selection-search {
        input {
          padding-left: 25px;
          color: #fff;
        }
      }

      .ant-select-selection-item {
        color: #fff;
      }
    }

    .ant-select-arrow {
      svg {
        color: #fff;
      }
    }
  }
}
